###RAFAEL AUGUSTO MORAES MONTEIRO - 3 TERMO CD FATEC/OURINHOS.###

## ESTRUTURA SEQUENCIAL ##

In [ ]:
#1

n = int(input('Digite um número INTEIRO: '))

print (f'O ANTECESSOR do número {n} é o número {n-1}')
print (f'O SUCESSOR do número {n} é número {n+1}')

Digite um número inteiro: 5
O antecessor do número 5 é o número 4
O sucessor do número 5 é número 6

In [ ]:
#2

pol = float(input('Digite o valor em POLEGADAS: '))

cen = pol*2.54

print (f'O valor de {pol} polegadas equivale a {cen}')

Digite o valor em POLEGADAS: 1
O valor de 1.0 polegadas equivale a 2.54

In [ ]:
#3

custofabrica = float(input('Digite o valor de CUSTO do carro em R$: '))

valorfinal = (custofabrica + (custofabrica*0.28) + (custofabrica*0.45))

print (f'O valor final do veículo, que tem custo de R$ {custofabrica} na fábrica, é de R$ {valorfinal}')

Digite o valor de CUSTO do carro em R$: 1000
O valor final do veículo, que tem custo de R$ 1000.0 na fábrica, é de R$ 1730.0

## ESTRUTURA DE SELEÇÃO ##

In [ ]:
#1

n1 = int(input('Digite um valor INTEIRO: '))
n2 = int(input('Digite outro valor INTEIRO: '))

if n1 == n2:
  print ('Os valores são iguais.')
else:
  print ('Os valores são diferentes.')

Digite um valor INTEIRO: 1
Digite outro valor INTEIRO: 2
Os valores são diferentes.

In [ ]:
#2

maca = int(input('Digite quantas maçãs deseja comprar: '))

if maca <= 11:
  print (f'Sua compra de {maca} maçãs fica no total de R$ {maca*1.3}')
else:
  print (f'Sua compra de {maca} maçãs fica no total de R$ {maca*1}')

Digite quantas maçãs deseja comprar: 12
Sua compra de 12 maçãs fica no total de R$ 12

In [ ]:
#3

valortotal = float(input('Digite o valor total da compra em R$: '))

while True:
  print ('Qual tipo de cliente você é? Digite o index.')
  print ('1 - CLIENTE COMUM.')
  print ('2 - FUNCIONÁRIO.')
  print ('3 - VIP.')

  opcao = input('Digite o index: ')

  if opcao == '1':
    print (f'O valor da sua compra é de R$ {valortotal}.')
    break
  elif opcao == '2':
    opcao2 = (valortotal*0.9)
    print (f'O valor da sua compra de R$ {valortotal}, adcionado 10% de desconto por ser funcionário, resulta em R$ {opcao2}.')
    break
  elif opcao == '3':
    opcao3 = (valortotal*0.95)
    print (f'O valor da sua compra de R$ {valortotal}, adcionado 5% de desconto por ser cliente vip, resulta em R$ {opcao3}.')
    break

Digite o valor total da compra em R$: 10
Qual tipo de cliente você é? Digite o index.
1 - CLIENTE COMUM.
2 - FUNCIONÁRIO.
3 - VIP.
Digite o index: 3
O valor da sua compra de R$ 10.0, adcionado 5% de desconto por ser cliente vip, resulta em R$ 9.5.

In [ ]:
#4

p1 = float(input('Digite a nota da p1: '))
p2 = float(input('Digite a nota da p2: '))

media = (p1+p2)/2

if media < 6:
  print (f'Sua média foi de {media}, portanto está REPROVADO.')
else:
  print (f'Sua média foi de {media}, portanto está APROVADO.')

Digite a nota da p1: 6
Digite a nota da p2: 6
Sua média foi de 6.0, portanto está APROVADO.

In [ ]:
#5

idade = int(input('Digite a idade do nadador: '))

if idade >= 5 and idade <= 7:
  print ('O nadador está enquadrado na categoria INFANTIL A.')
elif idade >= 8 and idade <= 10:
  print ('O nadador está enquadrado na categoria INFANTIL B.')
elif idade >= 11 and idade <= 13:
  print ('O nadador está enquadrado na categoria JUNIVEL A.')
elif idade >= 14 and idade <= 17:
  print ('O nadador está enquadrado na categoria JUNIVEL B.')
elif idade >= 18:
  print ('O nadador está enquadrado na categoria ADULTO.')
else:
  print ('Inválido.')

Digite a idade do nadador: 5
O nadador está enquadrado na categoria INFANTIL A.

In [ ]:
#6

alcool = 2.90
gasolina = 3.30

qtdlitro = float(input('Digite o valor em LITROS vendidos: '))

while True:
  print ('Tipo de combustível:')
  print ('1 - ÁLCOOL.')
  print ('2 - GASOLINA.')

  opcao = input('Digite o index: ')

  if opcao == '1':
    if qtdlitro <= 20:
      print (f'O valor a ser pago, com 3% de desconto por litro, será de R$ {qtdlitro*(alcool*0.97):.2f}')
      break
    elif qtdlitro > 20:
      print (f'O valor a ser pago, com 5% de desconto por litro, será de R$ {qtdlitro*(alcool*0.95):.2f}')
      break
  elif opcao =='2':
    if qtdlitro <= 20:
      print (f'O valor a ser pago, com 4% de desconto por litro, será de R$ {qtdlitro*(gasolina*0.96):.2f}')
      break
    elif qtdlitro > 20:
      print (f'O valor a ser pago, com 6% de desconto por litro, será de R$ {qtdlitro*(gasolina*0.94):.2f}')
      break

Digite o valor em LITROS vendidos: 20
Tipo de combustível:
1 - ÁLCOOL.
2 - GASOLINA.
Digite o index: 2
O valor a ser pago, com 4% de desconto por litro, será de R$ 63.36

##ESTRUTURA DE REPETIÇÃO##

In [ ]:
#1

for i in range (1, 51):
  print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
#2

for i in range (1, 39):
  if i % 2 == 0:
    print (i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [ ]:
#3

n1 = int(input('Digite o primeiro valor: '))
n2 = int(input('Digite o segundo valor: '))

soma = 0

for i in range (n1, n2+1):
  soma += i
print (f'A soma dos valores {n1} e {n2} é igual a {soma}.')

Digite o primeiro valor: 1
Digite o segundo valor: 2
A soma dos valores 1 e 2 é igual a 3.

In [ ]:
#4
lista = []

item = input(f'Digite o nome do item {1}: ')
preco = float(input(f'Digite o preço do item {1}: '))
lista.append(preco)

maior_preco = preco
soma_precos = preco

for i in range(1, 15):
    item = input(f'Digite o nome do item {i+1}: ')
    preco = float(input(f'Digite o preço do item {i+1}: '))
    lista.append(preco)

    if preco > maior_preco:
        maior_preco = preco

    soma_precos += preco

media_precos = soma_precos / 15

print(f'O maior preço lido foi de R$ {maior_preco}.')
print(f'A média aritmética dos preços dos produtos é de R$ {media_precos:.2f}.')

Digite o nome do item 1: Coco
Digite o preço do item 1: 10
Digite o nome do item 2: Banana
Digite o preço do item 2: 15
Digite o nome do item 3: Salsicha
Digite o preço do item 3: 30
Digite o nome do item 4: Uva
Digite o preço do item 4: 5
Digite o nome do item 5: Tomate
Digite o preço do item 5: 100
Digite o nome do item 6: Guarná
Digite o preço do item 6: 4
Digite o nome do item 7: Carne bovina
Digite o preço do item 7: 200
Digite o nome do item 8: Suco
Digite o preço do item 8: 50
Digite o nome do item 9: Chocolate
Digite o preço do item 9: 90
Digite o nome do item 10: Desinfetante
Digite o preço do item 10: 50
Digite o nome do item 11: Soja
Digite o preço do item 11: 20
Digite o nome do item 12: Marmita
Digite o preço do item 12: 55
Digite o nome do item 13: Toddynho
Digite o preço do item 13: 90
Digite o nome do item 14: Graviola
Digite o preço do item 14: 33
Digite o nome do item 15: Makita
Digite o preço do item 15: 33
O maior preço lido foi de R$ 200.0.
A média aritmética dos preços dos produtos é de R$ 52.33.

In [ ]:
#5

chico_alt = 1.5
juca_alt = 1.1
anos = 0

while chico_alt > juca_alt:
  chico_alt += 0.02
  juca_alt += 0.03
  anos += 1

print(f'Serão necessários {anos} anos para que Juca seja maior que Chico.')

Serão necessários 41 anos para que Juca seja maior que Chico.

In [ ]:
#6

n = int(input('Digite um valor INTEIRO e POSITIVO: '))
fat = 1

if n == 0:
  print(f'O fatorial de {n} é 1.')
else:
  for i in range(1, n + 1):
    fat *= i
  print(f'O fatorial de {n} é {fat}.')

Digite um valor INTEIRO e POSITIVO: 5
O fatorial de 5 é 120.

##VETORES##

In [ ]:
#1

vetores = []

for i in range(10):
  valor = int(input('Digite o valor do vetor: '))
  vetores.append(valor)

for i in vetores:
  if i % 2 != 0:
    print(i)

Digite o valor do vetor: 1
Digite o valor do vetor: 2
Digite o valor do vetor: 3
Digite o valor do vetor: 4
Digite o valor do vetor: 5
Digite o valor do vetor: 6
Digite o valor do vetor: 7
Digite o valor do vetor: 8
Digite o valor do vetor: 9
Digite o valor do vetor: 10
1
3
5
7
9

In [ ]:
#2

vetores = []

for i in range(6):
  valor = float(input('Digite o valor do vetor: '))
  vetores.append(valor)

media = sum(vetores) / len(vetores)
maior_valor = max(vetores)
menor_valor = min(vetores)

print(f'A média dos vetores é de {media}.')
print(f'O maior vetor é {maior_valor}.')
print(f'O menor vetor é {menor_valor}.')

Digite o valor do vetor: 1
Digite o valor do vetor: 2
Digite o valor do vetor: 3
Digite o valor do vetor: 4
Digite o valor do vetor: 5
Digite o valor do vetor: 6
A média dos vetores é de 3.5.
O maior vetor é 6.0.
O menor vetor é 1.0.

In [ ]:
#3

vetor = []
for i in range(10):
  valor = int(input(f'Digite o valor INTEIRO da posição {i} do vetor principal: '))
  vetor.append(valor)

vetor_trasfrente = []
for i in range(len(vetor)-1, -1, -1):
  vetor_trasfrente.append(vetor[i])

print(f'Vetor principal: {vetor}')
print(f'Vetor de trás para frente: {vetor_trasfrente}')

Digite o valor da posição 0 do vetor principal: 1
Digite o valor da posição 1 do vetor principal: 2
Digite o valor da posição 2 do vetor principal: 3
Digite o valor da posição 3 do vetor principal: 4
Digite o valor da posição 4 do vetor principal: 5
Digite o valor da posição 5 do vetor principal: 6
Digite o valor da posição 6 do vetor principal: 4
Digite o valor da posição 7 do vetor principal: 2
Digite o valor da posição 8 do vetor principal: 3
Digite o valor da posição 9 do vetor principal: 1
Vetor principal: [1, 2, 3, 4, 5, 6, 4, 2, 3, 1]
Vetor de trás para frente: [1, 3, 2, 4, 6, 5, 4, 3, 2, 1]

In [ ]:
#4

vetor = []
soma = 0

for i in range(10):
    valor = int(input(f'Digite o valor da posição {i} do vetor: '))
    vetor.append(valor)

for i in range(0, 10, 2):
    if vetor[i] > 0:
        soma += vetor[i]

print(f'A soma dos elementos positivos que se encontram nas posições pares do vetor é de: {soma}')

Digite o valor da posição 0 do vetor: 1
Digite o valor da posição 1 do vetor: 2
Digite o valor da posição 2 do vetor: 3
Digite o valor da posição 3 do vetor: 4
Digite o valor da posição 4 do vetor: 5
Digite o valor da posição 5 do vetor: 6
Digite o valor da posição 6 do vetor: 7
Digite o valor da posição 7 do vetor: 8
Digite o valor da posição 8 do vetor: 9
Digite o valor da posição 9 do vetor: 10
A soma dos elementos positivos que se encontram nas posições pares do vetor é de: 25